html, body{
    color: #37474f;
}
#currentGuestCount{
    width: 10vw;
    height: 10vw;
}
#groupCheck-InForm{
    height: auto;
    width: auto;
    background-color: transparent;
}
.paper{
    text-align: center;
    padding: 1vh;
    margin: 8px;
    
}
#adminView{
    background-color: #b0bec5;
    height: 100%;
    width: 100%;
}
.viewContainer{
   /* display: inline-flex; */
   overflow: scroll;
}
.masonry-layout_column{
    display: inline-block;

}
.leftColumn{
    width: 25%;
    float: left;
}
.centerColumn{
    width: 50%;
    float: center;
    text-align: center;
}
.rightColumn{
    width: 25%;
    float: right;
}
.masonry-layout_panel {
    break-inside: avoid;
    padding: 5px;
}
.masonry-layout__panel-content {
    padding: 10px;
    border-radius: 10px;
}
.subColumnHalf{
    display: inline-block;
    width: 47.5%;
}
.subColumn{
}
