html, body{
    color: #37474f;
}
#currentGuestCount{
    width: 10vw;
    height: 10vw;
}
#callBellCellForm{
    height: auto;
    width: auto;
    background-color: transparent;
    
}
#groupCheck-InForm{
    height: auto;
    width: auto;
    background-color: transparent;
}
.paper{
    text-align: center;
    display: inline-flex;
    padding: 2vw;
    margin: 8px;
}
#adminView{
    background-color: #b0bec5;
    height: 100%;
    width: 100vw;
    padding: 2vh;
}
.viewContainer{
    display: inline-flex;
}
